<div class="row" style="display: flex">
  <app-nava-employee></app-nava-employee>

  <div class="col-md-10 nav_content">
    <div class="content-wrapper">
      <div class="content" style="margin-top: 50px">
        <section class="content" style="font-family: 'Poppins', sans-serif;">
          <div class="container-fluid">
            <form [formGroup]="updateMembers" (ngSubmit)="onSubmit()">
              <div class="row content_style">
                <div class="col-md-6">
                  <div class="card-user">
                    <div class="card-header card-background-color ">
                      <h1 style="margin-bottom: 30px ; color: #FF8D1B;"><b>Chỉnh Sửa Thông Tin Thành Viên</b></h1>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Mã thành viên <span class="infomation__required" style="color: red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập mã thành viên"
                                   formControlName="accountCode" readonly>
<!--                            <ng-container *ngFor="let validation of validationMessage.accountCode">-->
<!--                              <small class="form-text text-danger"-->
<!--                                     *ngIf="updateMembers.get('accountCode').hasError(validation.type)&& updateMembers.get('accountCode').touched">-->
<!--                                {{validation.message}}-->
<!--                              </small>-->
<!--                            </ng-container>-->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Tên đăng nhập <span class="infomation__required" style="color: red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập tên đăng nhập"
                                   formControlName="username">
                            <ng-container *ngFor="let validation of validationMessage.username">
                              <small class="form-text text-danger"
                                     *ngIf="updateMembers.get('username').hasError(validation.type)&& updateMembers.get('username').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <div *ngIf="updateMembers.get('username').value == null && clickUpdate">
                              <small class="form-text text-danger">Vui lòng nhập họ và tên.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Mật khẩu <span class="infomation__required" style="color: red">*</span></label>
                            <input type="password" class="form-control" placeholder="Nhập mật khẩu"
                                   formControlName="password">
                            <ng-container *ngFor="let validation of validationMessage.password">
                              <small class="form-text text-danger"
                                     *ngIf="updateMembers.get('password').hasError(validation.type)&& updateMembers.get('password').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <div *ngIf="updateMembers.get('password').value == null && clickUpdate">
                              <small class="form-text text-danger">Vui lòng nhập mật khẩu.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Xác nhận lại Mật khẩu <span class="infomation__required" style="color: red">*</span></label>
                            <input type="password" class="form-control" placeholder="Nhập mật khẩu"
                                   formControlName="newPassword">
                            <!--                            <ng-container *ngFor="let validation of validationMessage.newPassword">-->
                            <!--                              <small class="form-text text-danger"-->
                            <!--                                     *ngIf="updateMembers.get('newPassword').hasError(validation.type)&& updateMembers.get('newPassword').touched">-->
                            <!--                                {{validation.message}}-->
                            <!--                              </small>-->
                            <!--                            </ng-container>-->
                            <small class="form-text text-danger"
                                   *ngIf="updateMembers.get('newPassword').invalid
          && (updateMembers.get('newPassword').dirty|| updateMembers.get('newPassword').touched)">
                              <span *ngIf="updateMembers.get('newPassword').errors['compare']"> Mật khẩu không trùng khớp.</span>
                            </small>

                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Tên Thành Viên<span class="infomation__required" style="color: red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập tên thành viên"
                                   formControlName="fullname">
                            <ng-container *ngFor="let validation of validationMessage.fullname">
                              <small class="form-text text-danger"
                                     *ngIf="updateMembers.get('fullname').hasError(validation.type)&& updateMembers.get('fullname').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <div *ngIf="updateMembers.get('fullname').value == null && clickUpdate">
                              <small class="form-text text-danger">Vui lòng nhập tên thành viên.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-9 pr-1">
                          <div class="form-group">
                            <label>Ngày sinh<span class="infomation__required" style="color: red">*</span></label>
                            <input type="date" class="form-control" placeholder="Nhập ngày sinh"
                                   formControlName="birthday">
                            <ng-container *ngFor="let validation of validationMessage.birthday">
                              <small class="form-text text-danger"
                                     *ngIf="updateMembers.get('birthday').hasError(validation.type)&& updateMembers.get('birthday').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <div *ngIf="updateMembers.get('birthday').value == null && clickUpdate">
                              <small class="form-text text-danger">Vui lòng nhập ngày sinh.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Email <span class="infomation__required" style="color: red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập email"
                                   formControlName="email">
                            <ng-container *ngFor="let validation of validationMessage.email">
                              <small class="form-text text-danger"
                                     *ngIf="updateMembers.get('email').hasError(validation.type)&& updateMembers.get('email').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <div *ngIf="updateMembers.get('email').value == null && clickUpdate">
                              <small class="form-text text-danger">Vui lòng nhập email.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Số chứng minh<span class="infomation__required" style="color: red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập số CM"
                                   formControlName="idCard">
                            <ng-container *ngFor="let validation of validationMessage.idCard">
                              <small class="form-text text-danger"
                                     *ngIf="updateMembers.get('idCard').hasError(validation.type)&& updateMembers.get('idCard').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <div *ngIf="updateMembers.get('idCard').value == null && clickUpdate">
                              <small class="form-text text-danger">Vui lòng nhập số chứng minh.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Số điện thoại<span class="infomation__required" style="color: red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                                   formControlName="phone">
                            <ng-container *ngFor="let validation of validationMessage.phone">
                              <small class="form-text text-danger"
                                     *ngIf="updateMembers.get('phone').hasError(validation.type)&& updateMembers.get('phone').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <div *ngIf="updateMembers.get('phone').value == null && clickUpdate">
                              <small class="form-text text-danger">Vui lòng nhập số điện thoại.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 pr-1">
                          <div class="form-group">
                            <label>Địa chỉ<span class="infomation__required" style="color: red">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập địa chỉ"
                                   formControlName="address">
                            <ng-container *ngFor="let validation of validationMessage.address">
                              <small class="form-text text-danger"
                                     *ngIf="updateMembers.get('address').hasError(validation.type)&& updateMembers.get('address').touched">
                                {{validation.message}}
                              </small>
                            </ng-container>
                            <div *ngIf="updateMembers.get('address').value == null && clickUpdate">
                              <small class="form-text text-danger">Vui lòng nhập địa chỉ.</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Giới tính <span class="infomation__required" style="color: red">*</span></label>
                            <div style="margin-top: 12px">
                              <input type="radio" formControlName="gender" value="Nam" style="width: 18px;height: 18px">
                              <span for="nam">Nam</span>

                              <input type="radio" class="radios" formControlName="gender" value="Nữ"
                                     style="width: 18px;height: 18px">
                              <span style="margin-left: 0px">Nữ</span>

                              <input type="radio" class="radios" formControlName="gender" value="Khác"
                                     style="width: 18px;height: 18px">
                              <span style="margin-left: 0px">Khác</span>
                            </div>
                          </div>
                          <ng-container *ngFor="let validation of validationMessage.gender">
                            <small class="form-text text-danger"
                                   *ngIf="updateMembers.get('gender').hasError(validation.type)&& updateMembers.get('gender').touched">
                              {{validation.message}}
                            </small>
                          </ng-container>
                          <div *ngIf="updateMembers.get('gender').value == null && clickUpdate">
                            <small class="form-text text-danger">Vui lòng nhập giới tính.</small>
                          </div>
                        </div>
                      </div>

                      <div class="row" style="display: flex">
                        <div class="" style="margin-left: 200px; ">
                          <button class="btn btn-info" routerLink="/list-member">Quay Lại
                          </button>
                        </div>
                        <div class="">
                          <button class="btn btn-warning" style="margin: 0 30px" [disabled]="updateMembers.invalid">
                            Cập nhật
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3" style="margin-left: 100px">
                  <div class="card card-user">
                    <div class="card-body">
                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-raised">
                          <img [src]="getImageUrl()" style="width:370px; height: 320px" alt="..." rel="nofollow">
                        </div>
                        <!--                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>-->
                        <div>
                <span style="margin-top: 20px"
                      class="btn btn-info btn-round btn-default btn-file btn__upload-custom">
                <span class="fileinput-new">Chọn ảnh</span>
                <input type="file" name="..." (change)="selectImage($event)"/>
                  </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
