<div id="main-content">
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-12">
        <h2></h2>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="-home"></i></a></li>
          <!-- <li class="breadcrumb-item"></li> -->
        </ul>

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div routerLink="/admin/movie"><i class="fa-solid fa-arrow-left"></i></div>
    <form [formGroup]="createMovie" (ngSubmit)="onSubmitCreate()">
      <h2>Create Movie</h2>
      <div class="row">
        <div class="col-md-3">
          <div>
            <!-- 
            <img class="w-100"  alt="avt" style="width: 50%!important;
        transform: scale(1.5);
          margin:65px 30px;">
            <input type="file"  -->

            <img class="w-100" [src]="urlNoPoster" alt="avt" style="width: 50%!important;
        transform: scale(1.5);
          margin:65px 30px;">
            <input type="file" (change)="getAvatar($event)">
          
          </div>
        </div>

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" placeholder="Title" formControlName="title" />
                <ng-container *ngFor="let validation of validation_messages.title">
                  <small class="form-text text-danger"
                    *ngIf="createMovie.get('title').hasError(validation.type)&&(createMovie.get('title').dirty || createMovie.get('title').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
              <div class="form-group">
                <label for="cast">Cast:</label>
                <input formControlName="cast" type="text" class="form-control" name="cast" placeholder="Cast" />
                <ng-container *ngFor="let validation of validation_messages.cast">
                  <small class="form-text text-danger"
                    *ngIf="createMovie.get('cast').hasError(validation.type)&&(createMovie.get('cast').dirty || createMovie.get('cast').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
              <div class="form-group">
                <label for="content">Content:</label>
                <textarea style="font-size: 14px;" formControlName="content" class="form-control" name="content"
                  placeholder="Content"></textarea>
                <ng-container *ngFor="let validation of validation_messages.content">
                  <small class="form-text text-danger"
                    *ngIf="createMovie.get('content').hasError(validation.type)&&(createMovie.get('content').dirty || createMovie.get('content').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
              <div class="form-group">
                <label for="director">Director:</label>
                <input formControlName="director" type="text" class="form-control" name="director"
                  placeholder="Director" />
                <ng-container *ngFor="let validation of validation_messages.director">
                  <small class="form-text text-danger"
                    *ngIf="createMovie.get('director').hasError(validation.type)&&(createMovie.get('director').dirty || createMovie.get('director').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="production">Production:</label>
                <input formControlName="production" type="text" class="form-control" name="production"
                  placeholder="Production" />
                <ng-container *ngFor="let validation of validation_messages.production">
                  <small class="form-text text-danger"
                    *ngIf="createMovie.get('production').hasError(validation.type)&&(createMovie.get('production').dirty || createMovie.get('production').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
              <div class="form-group">
                <label for="releaseDate">Release date:</label>
                <input  formControlName="releaseDate" type="date" class="form-control" name="releaseDate"
                  placeholder="Release date" />
                <ng-container *ngFor="let validation of validation_messages.releaseDate">
                  <small class="form-text text-danger"
                    *ngIf="createMovie.get('releaseDate').hasError(validation.type)&&(createMovie.get('releaseDate').dirty || createMovie.get('releaseDate').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
              <div class="form-group">
                <label for="runningTime">Running time:</label>
                <input formControlName="runningTime" type="number" class="form-control" name="runningTime"
                  placeholder="Running time" />
                <ng-container *ngFor="let validation of validation_messages.runningTime">
                  <small class="form-text text-danger"
                    *ngIf="createMovie.get('runningTime').hasError(validation.type)&&(createMovie.get('runningTime').dirty || createMovie.get('runningTime').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
              <div class="form-group">
                <label for="trailer">Trailer:</label>
                <input formControlName="trailerUrl" type="text" class="form-control" name="trailer"
                  placeholder="Trailer" />
                <ng-container *ngFor="let validation of validation_messages.trailerUrl">
                  <small class="form-text text-danger"
                    *ngIf="createMovie.get('trailerUrl').hasError(validation.type)&&(createMovie.get('trailerUrl').dirty || createMovie.get('trailerUrl').touched)">
                    {{validation.message}}
                  </small>
                </ng-container>
              </div>
            </div>

            <div class="col-md-12">
              <label>Genre</label>
              <div style="display:  flex; align-items: center;">
                <div *ngFor="let genre of genreList">
                  <div class="form-group" style="margin-right: 10px;display: flex;align-items: center">
                    <input type="checkbox" [id]="genre.id" (change)="onCheckboxChange($event,genre?.id)"
                      [value]="genre.id">
                    <label style="margin: 0 0 0 5px;" [for]="genre.id">{{ genre.name }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="text-right">
                <button [disabled]="createMovie.invalid" type="submit" class="btn btn-primary"
                  style="margin-right: 8px;background-color: #3265b9" >Create</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </form>

  </div>
</div>