





<div id="main-content">
    <div class="block-header">
      <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
          <h2>Dashboard</h2>
        </div>
        <div class="col-md-6 col-sm-12 text-right">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
  
        </div>
      </div>
    </div>
  
    <div class="container-fluid">
      <div><i class="fa-solid fa-arrow-left"></i></div>
      <form>
          <h2>Tạo mới phim</h2>
          <div class="row">
              <div class="col-md-3">
                  <div class="form-group">
                      <label for="releaseDate">Release date:</label>
                      <input formControlName="releaseDate" type="date" class="form-control" name="releaseDate"
                          placeholder="Release date" />
                  </div>
              </div>
  
              <div class="col-md-9">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="col-md-12">
                              <label>Thể loại</label>
                              <div style="display: flex; align-items: center;">
                                  <div class="form-group" style="margin-right: 10px; display: flex; align-items: center;">
                                      <input type="checkbox" />
                                      <label style="margin-bottom: 0; margin-left: 5px;">Tên thể loại</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
  
  </div>