<div id="page" class="hfeed site">
    <app-header></app-header>
    <div id="main">
        <div id="content" class="site-content">
            <section id="amy-page-header" class="amy-page-header" style="height: 127px;">
                <div class="amy-page-title amy-center">
                    <div class="amy-inner container">
                        <h1 class="page-title">
                            Top phim </h1>
                    </div>
                </div>
                <span class="amy-section-overlay"></span>
            </section>
            <section class="main-content page-layout-">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="page-content">
                                <div class="elementor elementor-145">
                                    <section class="elementor-section ">
                                        <div class="amy-shortcode amy-mv-ratelist ">
                                            <div class="list-rate">
                                                <table>
                                                    <tbody>
                                                        <tr *ngFor="let movie of listMovieRate , let i = index" class="highlight">
                                                            <td class="title">
                                                                <a href="#movie/kubo-and-the-two-strings/">
                                                                    {{i+1}}. {{movie?.title}}
                                                                </a>
                                                            </td>
                                                            <td class="turn">
                                                                {{movie?.vote}} Votes </td>
                                                            <td class="point">
                                                                {{movie?.rate}} </td>
                                                            <td class="star">
                                                                <ul class="mv-rating-stars">
                                                                    <li class="mv-current-rating" data-point="0%">
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                                <div class="clear"></div>
                                                <!-- <nav class="amy-pagination">
                                                    <div class="amy-shadow">
                                                        <span class="page-numbers current">1</span><a
                                                            class="page-numbers" href="#top-rated/page/2/">2</a><a
                                                            class="next page-numbers"
                                                            href="#top-rated/page/2/">Next</a>
                                                    </div>
                                                </nav> -->
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <footer id="amy-colophon" class="amy-site-footer">
        <div class="container">
            <div class="amy-footer-widgets">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="amy-widget amy-widget-module">
                            <div class="amy-widget amy-widget-module about ">
                                <h4 class="amy-title amy-widget-title"></h4>
                                <div class="footer-logo"><a href="#"><img
                                            src="http://demo.amytheme.com/movie/demo/elementor-single-cinema/wp-content/uploads/sites/2/2022/05/img_65.png" /></a>
                                </div>
                                <div class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="amy-widget widget_nav_menu">
                            <div class="amy-widget-title">
                                <h4>Customer Services</h4>
                            </div>
                            <div class="amy-widget-content">
                                <ul id="menu-customer-services" class="menu">
                                    <li id="menu-item-346"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-346">
                                        <a href="#">Home</a>
                                    </li>
                                    <li id="menu-item-347"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-347">
                                        <a href="#coming-soon/">Coming
                                            Soon</a>
                                    </li>
                                    <li id="menu-item-348"
                                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-145 current_page_item menu-item-348">
                                        <a href="#top-rated/" aria-current="page">Top rated</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="amy-widget amy-widget-list">
                            <div class="amy-widget amy-widget-list list-post ">
                                <h4 class="amy-title amy-widget-title">Recent Posts</h4>
                                <div class="entry-item">
                                    <div class="entry-thumb"><img
                                            src="http://demo.amytheme.com/movie/demo/elementor-single-cinema/wp-content/uploads/sites/2/2022/05/img_59-115x85_c.jpg" />
                                    </div>
                                    <div class="entry-content">
                                        <h2 class="entry-title"><a
                                                href="#2022/04/28/six-book-to-film-adaptations-to-get-excited-about-this-autumn/">Six
                                                book-to-film adaptations to get excited about this autumn</a></h2>
                                        <div class="entry-meta"><span class="entry-date">April 28, 2022</span><span>
                                                / </span><span class="entry-comment">0 Comments</span></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="entry-item">
                                    <div class="entry-thumb"><img
                                            src="http://demo.amytheme.com/movie/demo/elementor-single-cinema/wp-content/uploads/sites/2/2022/05/img_57-115x85_c.jpg" />
                                    </div>
                                    <div class="entry-content">
                                        <h2 class="entry-title"><a
                                                href="#2022/04/28/the-beatles-eight-days-a-week-the-touring/">The
                                                Beatles: Eight Days a Week – The Touring</a></h2>
                                        <div class="entry-meta"><span class="entry-date">April 28, 2022</span><span>
                                                / </span><span class="entry-comment">0 Comments</span></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="amy-widget amy-widget-module">
                            <div class="amy-widget amy-widget-module contact ">
                                <h4 class="amy-title amy-widget-title">Contact Us</h4>
                                <div class="address"><i class="fa fa-location-arrow" aria-hidden="true"></i>9067
                                    Zurich, Switzerland 87</div>
                                <div class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>abc@gmail.com
                                </div>
                                <div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>01-234-5678</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="amy-copyright" class="amy-copyright">
        <div class="container">
            <div class="amy-inner">
                <div class="amy-copyright-left pull-left">
                    <div class="amy-copyright-module amy-module-text ">

                        ©copyright 2016 Movie
                    </div>
                </div>
                <div class="amy-copyright-right pull-right">
                    <div class="amy-copyright-module amy-module-social ">
                        <ul class="amy-social-list">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>