<body>
  <div class="bg-img" align="center">
    <div class="content">
      <header>Quên mật khẩu?</header>
      <form class="form-signin" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="field">
          <span class="fa fa-user"></span>
         <input formControlName="username" type="text"  class="form-control" placeholder="Tên tài khoản*">
        </div>
        <br>
        <small id="emailHelp" class="form-text text-muted  " style="color: red">Hãy nhập tên tài khoản và làm các bước tiếp theo để thay đổi mật khẩu mới</small>
        <div *ngIf="isSubmited then submited else notSubmited"></div>
        <ng-template #notSubmited>
          <button class="btn btn-lg btn-primary text-uppercase" style="background-color: red;" type="submit">Gửi email xác nhận</button>
          <button class="btn btn-lg btn-secondary text-uppercase" style="background-color: red;" type="button" routerLink="">Huỷ</button>
        </ng-template>
        <ng-template #submited>
          <button class="btn btn-lg btn-primary text-uppercase" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </ng-template>
  
        <div class="signup" style="margin-top: 10px;">Bạn chưa có tài khoản?
          <a routerLink="/register">Đăng kí ngay</a>
        </div>
      </form>
    </div>
  </div>
  
  </body>