<body>
  <div class="bg-img" align="center">
    <div class="content">

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h1 class="title">Đặt lại mật khẩu</h1>

            <div class="rules mt-4">
              <h6 class="mb-2">Passwords must contain:</h6>
              <ul>
                <li>
                  <i class="fa-solid fa-check text-primary h5" style="margin-right: 5px;"></i>
                  <span class="position-relative ">Mật khẩu phải chứa
                    <p class="line least-six"></p>
                  </span>

                </li>
                <li>
                  <i class="fa-solid fa-check text-primary h5" style="margin-right: 5px;"></i>
                  <span class="position-relative ">At least 1 upper case letter
                    (A-Z)
                    <p class="line least-upper"></p>
                  </span>
                </li>
                <li>
                  <i class="fa-solid fa-check text-primary h5" style="margin-right: 5px;"></i>
                  <span class="position-relative ">At least 1 lower case letter
                    (a-z)
                    <p class="line least-lower"></p>
                  </span>
                </li>
                <li><i class="fa-solid fa-check text-primary h5" style="margin-right: 5px;"></i>
                  <span class="position-relative ">At least 1 number
                    (0-9)
                    <p class="line least-number"></p>
                  </span>
                </li>
                <li><i class="fa-solid fa-check text-primary h5" style="margin-right: 5px;"></i>
                  <span class="position-relative ">At least 1 Special character @!#$%^...
                    <p class="line least-special"></p>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <form [formGroup]="formResetPassword" (ngSubmit)="onSubmit()">

              <div formGroupName="passwordGroup">
                <div class="form-group">
                  <label>Mật khẩu mớid</label>
                  <div class="position-relative d-flex align-items-center">
                    <input type="password" placeholder="Nhập mật khẩu mới" class="form-control new-password"
                      formControlName="newPassword">
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password-new"
                      style="cursor: pointer;"></span>
                    <i class="fa-solid fa-check text-success h5 mt-2 ml-1 icon-check icon-check-new check-active"></i>
                  </div>
                  <small style="color: transparent">.</small>
                  <small class="text-warning"
                    *ngIf="formResetPassword.get('passwordGroup').get('newPassword').errors?.required && (formResetPassword.get('passwordGroup').get('newPassword').touched || formResetPassword.get('passwordGroup').get('newPassword').dirty)">Mật khẩu mới không được để trống</small>
                </div>
                <div class="form-group">
                  <label>Xác nhận mật khẩu</label>
                  <div class="position-relative d-flex align-items-center">
                    <input type="password" class="form-control confirm-password " placeholder="Nhập xác nhận mật khẩu"
                      formControlName="confirmPassword">
                    <i
                      class="fa-solid fa-check text-success h5 mt-2 ml-1 icon-check icon-check-confirm check-active"></i>
                  </div>
                  <small style="color: transparent">.</small>
                  <small class="text-warning"
                    *ngIf="formResetPassword.hasError('invalidConfirmation',['passwordGroup']) && (formResetPassword.get('passwordGroup').get('confirmPassword').touched || formResetPassword.get('passwordGroup').get('confirmPassword').dirty) && this.formResetPassword.value.passwordGroup.confirmPassword !== ''">Mật khẩu xác nhận không phù hợp</small>
                  <small class="text-warning"
                    *ngIf="formResetPassword.get('passwordGroup').get('confirmPassword').errors?.required && (formResetPassword.get('passwordGroup').get('confirmPassword').touched || formResetPassword.get('passwordGroup').get('confirmPassword').dirty)">Mật khẩu xác nhận không được để trống</small>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="btn btn-danger w-100 mr-3">
                    <button routerLink="/login" type="button"
                      style="border: none; background: transparent; width: 100%; color: #fff; padding: 5px 0">Đóng</button>
                  </div>
                  <div class="btn btn-primary w-100">
                    <button type="submit"
                      style="border: none; background: transparent; width: 100%; color: #fff; padding: 5px 0"
                      [disabled]="formResetPassword.invalid">Cập nhật</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>


</body>