<div id="main-content">
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-12">
        <h2></h2>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class=""></i></a></li>

        </ul>

      </div>
    </div>
  </div>





  <div class="container-fluid">

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Manage Employee</h2>
            <ul class="header-dropdown dropdown dropdown-animated scale-left">
              <li style="margin-right: 10px;">
                <input type="text" class="form-control" placeholder="Search...">
              </li>
              <li>
                <button routerLink="/admin/employee-add" class="btn btn-success" style="background-color: #3265b9;" data-toggle="modal" data-target="#create-movie"><i
                    class="fa-solid fa-plus mr-2"></i>Create
                  New</button>
              </li>

              <li> <a href="#" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a>
              </li>
              <li><a href="#" class="full-screen"><i class="icon-size-fullscreen"></i></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false"></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another Action</a></li>
                  <li><a href="#">Something else</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-hover js-basic-example dataTable table-custom mb-0 tb-create">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center" style="width: 50px;">STT</th>
                    <th class="text-left">Full name </th>
                    <th class="text-left" style="width: 300px;">Address</th>
                    <th class="text-center">Birthday</th>
                    <th class="text-left">Email</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Id card</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employeeList | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; let i = index">
                    <td class="text-center">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                    <td class="text-left">
                      {{employee?.fullname}}
                    </td>
                    <td class="text-left">
                      <div style="
                                        word-wrap: break-word;
                                        white-space: normal;">
                        <span style="word-wrap: break-word;">
                          {{employee?.address}}
                        </span>
                      </div>
                    </td>
                    <td class="text-center">{{employee?.birthday}}</td>
                    <td class="text-left">{{employee?.email}}</td>
                    <td class="text-center">{{employee?.phone}}</td>
                    <td class="text-center">{{employee?.idCard}}</td>
                    <td class="text-center align-middle" style="display: flex; align-items: center; justify-content: center;">
                      <button [routerLink]="['/admin/employee-update' , employee?.id]" class="btn btn-sm round btn-outline-success"
                        style="display: block;border:none;outline: none;width: 50%; margin-right: 5px; color: #285192;background-color: #e3ebf7;">Update</button>
                      <button (click)="setEmployeeDelete(employee)" class="btn btn-sm round btn-outline-danger btn-modal-remove-food"
                        style="display: block;border:none;outline: none;width: 50%; color: fff;background-color: #3b71ca;">Delete</button>
                    </td>
                  </tr>


                </tbody>
              </table>
              <div style="text-align: center;padding: 30px 0;">
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
            </div>

          </div>
        </div>
      </div>



    </div>

  </div>
</div>



<div class="modal-delete-food"
  style="padding: 5px 20px 5px 20px; display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);z-index: 99999;background: #fff;min-width: 400px;border-radius: 10px;">
  <div class="modal-body">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <h3>Delete movie</h3>
      <div class="cls">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <form action="">
      Do you want delete {{employeeDelete?.fullname}}?
      <div class="form-group" style="display: flex; align-items: center; justify-content: end;margin-top: 26px">
        <button class="btn btn-sm round btn-outline-success"
          style="padding:10px; display: block;border:none;outline: none;width: 20%; margin-right:10px; color: #285192;background-color: #e3ebf7;">Close</button>
        <button (click)="deleteEmployee(employeeDelete?.id)"  class="btn btn-sm round btn-outline-danger cls"
          style="padding:10px; display: block;border:none;outline: none;width: 20%; color: fff;background-color: #3b71ca">Delete</button>
      </div>
    </form>
  </div>
</div>