#left-sidebar .navbar-brand a {
    display: flex;
    justify-content: center;
}

#left-sidebar .navbar-brand .logo {
    transform: scale(1.4);
    width: 30%;
}

.image-account {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.on-off {
    background: #62ef62;
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}


/* ===================================Pagination============================= */
#pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pagination-container a,
#pagination-container span {
    color: #666;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #EEE;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px #EEE;

}

#pagination-container .current {
    color: #FFF;
    background-color: #FF7182;
    border-color: #FF7182;
    padding: 0.5rem 0.75rem;
}

#pagination-container .prev.current,
#pagination-container .next.current {
    background: #e04e60;
}


.preview-image {
    position: relative;
    margin-right: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid #3333;
  }