<app-header></app-header>
<div id="main">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="card" style="background: #f0be5f; color: #000; padding: 10px 20px; width: 100%;">
                <span>Đã qua thời gian của suất chiếu. Không thể mua vé</span>
            </div>
        </div>
        <div class="row">
            <div class="btn-back"
                style="border: 2px solid #f0be5f; border-radius: 5px; padding:  5px 10px 5px 10px;">
                <a routerLink="/home">
                    <i class="fa-solid fa-arrow-left"></i>
                    Quay lại
                </a>
            </div>
        </div>
    </div>
</div>