<div style="margin-right: 0px" class="row">
  <div class="col-md-3 nav_profile" style="background: antiquewhite">
    <div align="center">
      <br>

      <h2><b>Quản lý tài khoản</b></h2>
      <br>


      <img [src]="getImageUrl()" class="img-circle" height="200" width="200" alt="..." rel="nofollow"><br>
      <div>
                    <span style="margin-top: 20px; "
                          class="btn btn-info btn-round btn-default btn-file btn__upload-custom">
                      <span class="glyphicon glyphicon-camera"></span>Đổi Avatar
                      <input type="file"  name="..." (change)="selectImage($event)  "    style="opacity: 0 ; font-size: 4px"/>
                    </span>
      </div>




      <br>
      <br>
      <h4 align="center"><b>{{name}}</b></h4> <br>

      <i class="glyphicon glyphicon-star" style="font-size: 18px"></i><span
      style="font-size: 20px">Điểm tích lũy : {{totalpoint}}</span>
      <br>
      <br>
      <button class="glyphicon glyphicon-log-out   btn btn-primary  "><span
        style="font-family: TimesNewRoman; font-size: 20px">Đăng xuất</span></button>

      <hr style="  border-bottom: 1px solid #000;">
      <div align="center" class="col-md-12">
        <span class="glyphicon glyphicon-user" style="font-size: 25px"></span><a href="#">Thông tin tài
        khoản</a>
        <hr style="  border-bottom: 1px solid #000;">
        <span class="glyphicon glyphicon-calendar" style="font-size: 25px"></span><a href="#">Lịch sử cộng điểm</a>
        <hr style="  border-bottom: 1px solid #000;">
        <a href="#">Vé đã đặt</a>
        <!-- <hr style="  border-bottom: 1px solid #000;">
         <a href="#">Vé đã hủy</a-->
        <hr style="  border-bottom: 1px solid #000;">
        <a href="#">Đổi mật khẩu</a>

      </div>


    </div>

  </div>
  <div class="col-md-9 nav_content">

    <h1 style="text-align: center; margin: 40px 0;color: #FF8D1B;font-family: 'Times New Roman'"><b>
      Đổi Mật Khẩu
    </b>
    </h1>
    <div class="content-wrapper">

      <form [formGroup]="accountUpdateForm" (ngSubmit)="changepassword()">
        <div class="card-body ">
          <div class="row">
            <div class="col-sm-3" align="right">
              <h4 class="mb-0"><b>Mã Thành Viên </b><span style="color: red">*</span>:</h4>
            </div>
            <div class="col-sm-6 text-secondary">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="accountCode" readonly>

              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3" align="right">
              <h4 class="mb-0"><b>Tên Tài Khoản</b><span style="color: red">*</span>:</h4>
            </div>
            <div class="col-sm-6 text-secondary">

              <input type="text" class="form-control border-1 shadow-1" formControlName="username" readonly>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3" align="right">
              <h4 class="mb-0"><b>Mật Khẩu Cũ</b><span style="color: red">*</span>:</h4>
            </div>
            <div class="col-sm-6 text-secondary">

              <input type="password" class="form-control border-1 shadow-1  password "  placeholder="Mật khẩu cũ"
             formControlName="password" >
            <ng-container *ngFor="let validation of validationMessage.password">
                <small class="form-text text-danger"
                       *ngIf="accountUpdateForm.get('password').hasError(validation.type) && (accountUpdateForm.get('password').dirty || accountUpdateForm.get('password').touched)">
                  {{validation.message}}
                </small>
              </ng-container>

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3" align="right">
              <h4 class="mb-0"><b>Mật Khẩu Mới</b><span style="color: red">*</span>:</h4>
            </div>
            <div class="col-sm-6 text-secondary">

              <input type="password" class="form-control border-1 shadow-1  password " placeholder="Mật khẩu mới" formControlName="newPassword">
              <ng-container *ngFor="let validation of validationMessage.password">
                <small class="form-text text-danger"
                       *ngIf="accountUpdateForm.get('newPassword').hasError(validation.type) && (accountUpdateForm.get('newPassword').dirty || accountUpdateForm.get('newPassword').touched)">
                  {{validation.message}}
                </small>
              </ng-container>

            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3" align="right">
            <h4 class="mb-0"><b>Nhập lại Mật Khẩu Mới</b><span style="color: red">*</span>:</h4>
          </div>
          <div class="col-sm-6 text-secondary">

            <input type="password" class="form-control border-1 shadow-1  password" placeholder="Mật khẩu mới" formControlName="confirmPassword">
       <ng-container *ngFor="let validation of validationMessage.confirmPassword">
              <small class="form-text text-danger"
                     *ngIf="accountUpdateForm.get('confirmPassword').hasError(validation.type) && (accountUpdateForm.get('confirmPassword').dirty || accountUpdateForm.get('confirmPassword').touched)">
                {{validation.message}}
              </small>
            </ng-container>
              </div>
        </div>
        <br>

    <div align="center">

      <button type="submit" value="" class="btn btn-primary btn-sm" >
        <span class="glyphicon glyphicon-lock"></span>Đổi mật khẩu

      </button>
    </div>
    </form>
    <div class="col-sm-5" align="right">Dấu(<span style="color: red">*</span>)Vui lòng nhập không được để
      trống!
    </div>
  </div>
</div>
</div>


