<app-header></app-header>
<div id="main">
    <section id="amy-page-header" class="amy-page-header" style="height: 127px;">
        <div class="amy-page-title amy-center">
            <div class="amy-inner container">
                <h1 class="page-title" style="padding: 47px">
                    Profile </h1>
            </div>
        </div>
        <span class="amy-section-overlay"></span>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="if-avatar">
                    <div class="avatar-wrapper">
                        <img class="profile-pic" src="" />
                        <div class="upload-button">
                        </div>
                        <input class="file-upload" type="file" accept="image/*" />
                    </div>
                    <div style="text-align: center;display: inline-block;position: relative;top: -30px;right: -30px;">
                        <h1>{{account?.fullname}}
                        </h1>

                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Nav -->
                            <ul class="nav nav-tabs nav-overflow header-tabs" style="left: 20px;">
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle " value="taikhoan"
                                        data-toggle="dropdown">Tài khoản</a>
                                    <div class="dropdown-menu">
                                        <a href="#" class="dropdown-item">Quản lý tài khoản</a>
                                        <a href="#" class="dropdown-item reset-pass">Đổi mật
                                            khẩu</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link active" value="ve">
                                        Vé
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- Tài khoản -->
                <div class="row" id="taikhoan" style="display: none;">
                    <div class="col-md-12">
                        <form action="/settings" method="post">
                            <div class="row">
                                <div class="col-md-9"
                                    style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 10px; padding: 20px;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="fullname">Họ và tên:</label><br>
                                            <input disabled value="{{account?.fullname}}" class="form-control"
                                                type="text" id="fullname" name="fullname" />
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Địa chỉ:</label><br>
                                            <input disabled value="{{account?.address}}" class="form-control"
                                                type="text" id="address" name="address" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email:</label><br>
                                            <input disabled value="{{account?.email}}" class="form-control" type="text"
                                                id="email" name="email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="birthday">Ngày sinh:</label><br>
                                            <input disabled value="{{account?.birthday}}" class="form-control"
                                                type="date" id="birthday" name="birthday" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="gender">Giới tính:</label><br>
                                            <select disabled style="border-radius: 10px;" name="gender" id="gender">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Số điện thoại:</label><br>
                                            <input disabled value="{{account?.phone}}" class="form-control" type="text"
                                                id="phone" name="phone" />
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <div style="text-align: left; padding-top: 10px; ">
                                            <input type="submit" value="Save" style="border-radius: 10px;" />
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Mật khẩu -->
                <div class="row" id="matkhau" style="display: none;">
                    <div class="col-md-12">
                        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                            <div class="row">
                                <div class="col-md-9"
                                    style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 10px; padding: 20px;">
                                    <div class="form-group">
                                        <label for="current-pass">Mật khẩu hiện tại</label>
                                        <input formControlName="oldPassword" type="password" id="current-pass"
                                            name="current-pass" class="form-control">
                                        <small class="text-danger"
                                            *ngIf="passwordForm.get('oldPassword').hasError('required') && (passwordForm.get('oldPassword')?.touched || passwordForm.get('oldPassword')?.dirty)">Password
                                            Current can not be left blank</small>

                                    </div>
                                    <div formGroupName="passwordGroup">
                                        <div class="form-group">
                                            <label for="new-pass">Mật khẩu mới</label>
                                            <input formControlName="newPassword" type="password" id="new-pass"
                                                name="new-pass" class="form-control">
                                            <small class="text-danger"
                                                *ngIf="passwordForm.get('passwordGroup').get('newPassword').errors?.required && (passwordForm.get('passwordGroup').get('newPassword').touched || passwordForm.get('passwordGroup').get('newPassword').dirty)">Password
                                                New can not be blank</small>

                                        </div>
                                        <div class="form-group">
                                            <label for="verify">Nhập lại mật khẩu</label>
                                            <input formControlName="confirmPassword" type="password" id="verify"
                                                name="verify" class="form-control">
                                            <small class="text-danger"
                                                *ngIf="passwordForm.hasError('invalidConfirmation',['passwordGroup']) && (passwordForm.get('passwordGroup').get('confirmPassword').touched || passwordForm.get('passwordGroup').get('confirmPassword').dirty)">Password
                                                do not match</small>
                                            <small class="text-danger"
                                                *ngIf="passwordForm.get('passwordGroup').get('confirmPassword').errors?.required && (passwordForm.get('passwordGroup').get('confirmPassword').touched || passwordForm.get('passwordGroup').get('confirmPassword').touched)">Confirm
                                                password can not be blank</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button [disabled]="passwordForm.invalid" class="btn btn-confirm"
                                            style="display: inline-block;cursor: pointer; padding: 10px 15px;">
                                            Cập nhật mật khẩu
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Vé -->
                <div class="row" id="ve" style="display: block;">
                    <div class="col-12 col-xl-12">
                        <!-- <div class="card"
                            style="background: #f0bd5fd6; color: #000; padding: 10px; margin-bottom: 10px;">
                            Bạn chưa có giao dịch nào trước đây.<br>
                            Để bắt đầu mua vé xem phim, vui lòng làm theo các bước sau.
                        </div> -->
                        <div *ngFor="let booking of bookingList" class="history"
                            style="max-height: 200px; margin-bottom: 20px;">
                            <div class="fim-history">
                                <div class="img-history">
                                    <img src="{{booking?.movieShowTime.movie.movieImages[0].imageUrl}}" alt="">
                                </div>
                                <div class="detail-history">
                                    <p style="margin: 0;">{{booking?.movieShowTime.movie.title}}</p>
                                    <p style="margin: 0;">Suất <b>{{booking?.movieShowTime.showtime.showTime |
                                            slice:0:5}}</b> ngày <b>{{booking?.movieShowTime.showDate| date}}</b> </p>
                                    <p style="margin: 0;">Màn hình <b>{{booking?.movieShowTime.screen.id}}</b> - Ghế
                                        <b>{{convertSeat(booking?.seats)}}</b></p>
                                    <p style="margin: 0;">Start Light</p>
                                </div>
                            </div>
                            <div class="time-history">
                                <img src="{{booking?.imgQrCode}}" alt="qr">
                            </div>
                            <div class="price-history">
                                <h4>{{booking?.totalPrice | number:'1.0-0'}} đ</h4>
                                <p style="text-align: right;">Tổng đơn hàng</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>