#toast-container > .toast-success {
  background-image: none;
  background-color: #e9e9e9;
  color: black;
}

#toast-container > .toast-error {
  display: flex;
  background-image: none;
  background-color: #e9e9e9;
  color: red;
}
