<div id="main">
    <div class="steps-booking">
      <div class="steps choose-chair active-step" data-id="1">
        <i class="fa-solid fa-table-cells-large"></i>
        <p>Chọn ghế</p>
      </div>
      <div class="steps water-corn" data-id="2">
        <i class="fa-solid fa-bag-shopping"></i>
        <p>Chọn đồ ăn</p>
      </div>
      <div class="steps payment-st" data-id="3">
        <i class="fa-regular fa-credit-card"></i>
        <p>Thanh toán</p>
      </div>
      <div class="steps st-info" data-id="4">
        <i class="fa-solid fa-info"></i>
        <p>Thông tin vé</p>
      </div>
    </div>
    <div class="wrapper booking-main">
      <div class="col-md-8">
        <!-- /Book chair -->
        <div class="booking-chair">
          <div class="note">
            <div class="row-book row">
              <div class="single">
                <span></span>
                <p>Ghế đơn</p>
              </div>
              <div class="choice">
                <span></span>
                <p>Ghế chọn</p>
              </div>
              <div class="sold">
                <span></span>
                <p>Ghế đã bán</p>
              </div>
            </div>
            
          </div>
          <div class="row-book">
            <div class="screen">Màn hình</div>
          </div>
          <div class="chair">
            <div>
              <div class="row-book" >
                <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                <div class="land"></div>
                <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
                 <div class="seat" 
                 >1</div>
        
              </div>
            </div>
          </div>
          <!-- active-sold -->
        </div>
        <!-- Book food -->

        <!-- Payment -->

      </div>

    </div>

  </div>
