<div class="col-md-2 nav_menu">
  <ul>
    <li class="nav_menu_title">
      <i class="fa fa-film" aria-hidden="true"></i>
      <a href="">Quản Lý Suất Chiếu</a>
    </li>
    <li class="nav_menu_title">
      <i class="fa fa-ticket" aria-hidden="true"></i>
      <a href="">Quản Lý Đặt Vé</a>
    </li>
    <li class="nav_menu_title">
      <i class="fa fa-users" aria-hidden="true"></i>
      <a href="/employee-list">Quản Lý Nhân Viên</a>
    </li>
    <li class="nav_menu_title">
      <i class="fa fa-home" aria-hidden="true"></i>
      <a href="/screens">Quản Lý Phòng Chiếu</a>
    </li>
    <li class="nav_menu_title">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      <a href="/list-member">Quản Lý Thành Viên</a>
    </li>
    <li class="nav_menu_title">
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      <a href="/list-movie">Quản Lý Phim</a>
    </li>
    <li class="nav_menu_title">
      <i class="fa fa-cc-discover" aria-hidden="true"></i>
      <a href="">Quản Lý Khuyến Mãi</a>
    </li>
    <li class="nav_menu_title">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      <a href="">Thống Kê</a>
    </li>
  </ul>
</div>
