

<div id="main-content">
  <div class="block-header">
      <div class="row clearfix">
          <div class="col-md-6 col-sm-12">
              <h2>Dashboard</h2>
          </div>
          <div class="col-md-6 col-sm-12 text-right">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                  <li class="breadcrumb-item active">Dashboard</li>
              </ul>

          </div>
      </div>
  </div>
  <div class="container-fluid">
      <i class="fa-solid fa-arrow-left" style="cursor: pointer;"></i>
      <div class="row">
          <div class="border-bottom text-dark featured-movie">
              <div class="container pt-3 pb-3">
                  <div class="row row-sm">
                      <div class="d-none d-sm-block col-2">
                          <a href="/phim/lat-mat-6-tam-ve-dinh-menh/" title="Lật Mặt 6: Tấm Vé Định Mệnh">
                              <img alt="Lật Mặt 6: Tấm Vé Định Mệnh"
                                  src="https://moveek.com/storage/media/cache/short/643cd05155dc9009010254.jpeg"
                                  data-srcset="https://moveek.com/storage/media/cache/short/643cd05155dc9009010254.jpeg 1x, https://moveek.com/storage/media/cache/tall/643cd05155dc9009010254.jpeg 2x"
                                  data-src="https://moveek.com/storage/media/cache/short/643cd05155dc9009010254.jpeg"
                                  class="img-fluid rounded border lazyloaded"
                                  srcset="https://moveek.com/storage/media/cache/short/643cd05155dc9009010254.jpeg 1x, https://moveek.com/storage/media/cache/tall/643cd05155dc9009010254.jpeg 2x">
                          </a>
                      </div>
                      <div class="col-12 col-sm-10">
                          <div class="mb-3 text-center text-sm-left">
                              <h1 class="mb-0 text-truncate">
                                  <a href="/phim/lat-mat-6-tam-ve-dinh-menh/" title="Lật Mặt 6: Tấm Vé Định Mệnh">
                                    Nguyen Van A
                                  </a>
                              </h1>
                              <p class="mb-0 text-muted text-truncate">
                                 Hai Chau Da Nang
                              </p>
                          </div>
                          <div class="row">
                              <div class="col-12 col-lg-4">
                                  <p class="mb-2">
                                      <strong> Ngày sinh</strong><br>
                                      <span>
                                          <a class="text-danger">02/05/2001</a>,
                                      </span>
                                  </p>

                                  <p class="mb-2">
                                      <strong> Email</strong><br>
                                      <span>
                                        <a class="text-danger" >nguyentuan@gmail.com</a>,
                                       
                                      </span>
                                  </p>
                                  <p class="mb-2">
                                      <strong>Số điện thoại</strong><br>
                                      <span>
                                        <a class="text-danger" >123456789</a>,
                                      </span>
                                  </p>
                             
                              </div>
                              <div  class="col-12 col-lg-4">
                                <p class="mb-2">
                                  <strong>Số căn cước</strong><br>
                                  <span>
                                    <a class="text-danger">0123456789</a>,
                                  </span>
                              </p>
                              <p class="mb-2">
                                <strong>Giới tính</strong><br>
                                <span>
                                  <a class="text-danger" >Nam</a>
                                </span>
                            </p>  
                              </div>
                              <div class="col-12 col-lg-4">
                                <p class="mb-2">
                                    <strong>Số điện thoại</strong><br>
                                    <span>
                                      <a class="text-danger" >123456789</a>,
                                    </span>
                                </p>
                           
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <video class="video-main" src="../assets/videos/video.mp4" controls></video>
        </div>

  </div>
</div>
