
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.nav_menu{
  height: auto;
  background-color: antiquewhite;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.nav_menu ul li {
  line-height: 45px;
  border-bottom: 3px solid white;
}
.nav_menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  /* padding-left: 40px; */
  font-weight: bold;
  /* display: block; */
}
.nav_content{
  height: auto;
  margin-top: 60px;
  margin-bottom: 100px;
}

#toast-container > .toast-success {
  background-image: none;
  background-color: #e9e9e9;
  color: black;
}

#toast-container > .toast-error {
  background-image: none;
  background-color: #e9e9e9;
  color: red;
}
