<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-family: 'Times New Roman'">
<p>Chào, <b th:text="${email}"></b>,</p>
<br>
<p>Tài khoản của bạn đã được đăng ký thành công</p>
<p>Để hoàn tất việc đăng ký, vui lòng kích hoạt tài khoản của bạn thông qua đường dẫn sau: <a th:text="${code}" th:href="${code}"></a></p>
<br>"
<p>Ngược lại, vui lòng bỏ qua email này.</p>
<br>
<p>Xin cám ơn.</p>
</body>

</html>