<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-family: 'Times New Roman'">
<p>Chào, <b th:text="${email}"></b>,</p>
<br>
<p>Đã có một yêu cầu thiết lập lại mật khẩu của tài khoản của bạn.
    Nếu đây là yêu cầu của bạn, vui lòng nhấn vào đường dẫn sau để kích hoạt thay đổi tài khoản mới: </p>
<a th:text="${code}" th:href="${code}"></a>
<br>
<p>Ngược lại, vui lòng bỏ qua email này.</p>
<br>
<p>Xin cám ơn.</p>
</body>

</html>